/* ButtonGroup.module.css */
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.cancel-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #9f86c0;
  color: white;
}

.save-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #9f86c0;
  color: white;
}

.edit-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #9f86c0;
  color: white;
}

.delete-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #9f86c0;
  color: white;
}

.list-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.list-button:hover {
  background-color: #9f86c0;
  color: white;
}

.submit-button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  transform: scale(1.05);
  background-color: #9f86c0;
}

.cancel-post-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cancel-post-button:hover {
  background-color: #9f86c0;
  transform: scale(1.05);
}
