.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 7rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #9f86c0;
}

.auth button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #9f86c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* 드롭다운 메뉴 스타일 */
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 10px;
  z-index: 1;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px; /* 아이템 높이 설정 */
}

.dropdownMenu ul li {
  margin-bottom: 0; /* 아이템 사이의 간격 제거 */
  height: 40px; /* 아이템 높이 설정 */
  display: flex; /* 아이템을 수직 가운데 정렬하기 위해 */
  align-items: center; /* 아이템을 수직 가운데 정렬하기 위해 */
}

.dropdownMenu ul li a {
  color: #fff;
  text-decoration: none;
  flex: 1; /* 아이템 내용을 평균적으로 확장시키기 위해 */
  padding: 0 10px; /* 내용과 좌우 간격 주기 */
}

.header:hover .dropdownMenu {
  display: block;
}
